.positionBarContainer.normal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	&.shouldShow {
		display: block;
	}
	.positionBar {
		position: absolute;
		top: 0px;
		padding-top: 3px;
		left: 50%;
		transform: translate(-50%, 0);
		right: 0;
		background: white;
		white-space: pre;
		bottom: 0;
		white-space: nowrap;
		width: 1920px;
		height: 43px;
		&:before {
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			width: 10000px;
			content: '';
			display: block;
			background: rgba(0, 0, 0, 0.3);
		}
		&:after {
			position: absolute;
			right: 100%;
			top: 0;
			bottom: 0;
			width: 10000px;
			content: '';
			display: block;
			background: rgba(0, 0, 0, 0.3);
		}
		.player {
			width: 148px;
			height: 40px;
			position: relative;
			display: inline-block;
			.position {
				background: black;
				color: white;
				width: 30px;
				position: absolute;
				top: 0;
				line-height: 40px;
				bottom: 0;
				left: -5px;
				text-align: center;
				font-weight: bold;
				transform: skew(-15deg);
			}
			.name {
				position: absolute;
				top: 3px;
				right: 0;
				left: 10px;
				padding: 0 5px;
				text-align: center;
				padding-left: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 17px;
				color: black;
			}
			.diff {
				position: absolute;
				text-align: center;
				bottom: 4px;
				right: 0;
				left: 20px;
				font-weight: bold;
				color: black;
			}

			&.isUser {
				background: red;
				.diff {
					bottom: 8px;
					font-size: 25px;
					color: white;
				}
				.name {
					display: none;
				}
			}

			.classStyle {
				display: block;
				content: '';
				position: absolute;
				top: -3px;
				left: 0;
				right: 0;
				height: 8px;
			}
		}
	}
	.sessionTime,
	.currentLap,
	.currentPosition {
		position: absolute;
		top: 50px;
		font-size: 40px;
		.label {
			font-size: 15px;
			text-align: center;
		}
	}
	.sessionTime,
	.currentLap {
		right: 10px;
	}
	.currentPosition {
		left: 10px;
	}
}

.positionBarContainer.relative {
	position: absolute;
	top: 400px;
	left: 1610px;
	width: 290px;
	transform-origin: bottom right;
	.player {
		padding: 4px 0px;
		position: relative;
		white-space: nowrap;
		transform: skew(-25deg);
		background: white;
		margin: 3px;
		font-size: 20px;
		&:nth-child(odd) {
			border-radius: 0px;
		}
		&:first-child {
			padding-top: 5px;
		}
		&:last-child {
			padding-bottom: 5px;
		}
		.position {
			width: 35px;
			font-weight: bold;
			text-align: center;
			display: inline-block;
			color: white;
			background: black;
			height: 20px;
		}
		.name {
			display: inline-block;
			padding: 0 5px;
			overflow: hidden;
			height: 20px;
			margin-bottom: -5px;
			white-space: nowrap;
			text-overflow: ellipsis;
			vertical-align: top;
			width: 170px;
		}
		.diff {
			display: inline-block;
		}

		&.lapping {
			background-color: #03A9F4;
			color: white;
		}
		&.sameLap {
			background-color: white;
			color: black;
		}
		&.lapped {
			background-color: red;
			color: white;
		}

		&.isUser {
			background: black;
			color: white;
		}
		.classStyle {
			display: block;
			content: '';
			position: absolute;
			top: 1px;
			bottom: 1px;
			left: -2px;
			width: 10px;
		}
	}
	.sessionTime,
	.currentLap,
	.currentPosition {
		display: none;
	}
}
