.inputs {
	padding: 5px;
	height: 100px;
	position: absolute;
	top: 940px;
	left: 1690px;
	margin-right: 70px;
	width: 46px;
	&.low {
		background: rgba(255, 0, 0, 0.2);
	}
	.barContainer {
		background: white;
		height: 15px;
		width: 100px;
		display: inline-block;
		position: relative;
		transform: skew(-25deg);
		font-size: 15px;
		color: black;
		.bar {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: red;
			height: 100%;
			width: 100%;
		}
		.clutchPedal {
			background: #03A9F4;
		}
		.brakePedal {
			background: red;
		}
		.throttlePedal {
			background: #00C853;
		}
	}
	&.hasWheel {
		height: 100px;
		.steeringWheel {
			position: absolute;
			top: 10%;
			left: -100px;
			transform-origin: 35px 35px;
			margin-top: 5px;
			border-radius: 100%;
			svg {
				margin: -4px -4px -5px;
				transform-origin: top left;
				width: 80px;
				fill: rgb(255, 255, 255);
			}
		}
	}
}
