.inputs {
	padding: 5px;
	height: 100px;
	position: absolute;
	top: 940px;
	left: 1690px;
	margin-right: 70px;
	width: 40px;
	&.low {
		background: rgba(255, 0, 0, 0.2);
	}
	.barContainer {
		background: white;
		border-radius: 2px;
		height: 14px;
		width: 90px;
		display: inline-block;
		position: relative;
		transform: skew(-20deg);
		font-size: 8px;
		.inputLabel {
			color: black;
			transform: skew(+20deg);
			position: relative;
			left: 8px;
			font-size: 14px;
			z-index: 5;
		}
		.bar {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: red;
			height: 100%;
			width: 100%;
			transform: skew(0deg);
			border-radius: 2px;
		}
		.clutchPedal {
			background: #03A9F4;
		}
		.brakePedal {
			background: red;
		}
		.throttlePedal {
			background: #00E676;
		}
	}
	&.hasWheel {
		height: 100px;
		.steeringWheel {
			position: absolute;
			top: 10%;
			left: -100px;
			transform-origin: 35px 35px;
			margin-top: 5px;
			border-radius: 100%;
			svg {
				margin: -4px -4px -5px;
				transform-origin: top left;
				width: 80px;
				fill: rgb(255, 255, 255);
			}
		}
	}
}
