.damage {
	position: absolute;
	top: 930px;
	left: 1890px;
	padding: 10px;

	.carDamage {
		position: absolute;
		bottom: 100%;
		right: 0;
		width: 210px;
		margin-bottom: 20px;
		.part {
			.label {
				display: inline-block;
				font-size: 14px;
				width: 90px;
				position: relative;
				top: -2px;
				left: 100px;
				z-index: 20;
				color: black;
			}
			.barContainer {
				transform: skew(-25deg);
				display: inline-block;
				width: 110px;
				height: 15px;
				background: #C62828;
				.bar {
					height: 15px;
					background: #fff;
				}
			}
			&.bad {
				.barContainer .bar {
					background: orange;
				}
			}
			&.broken {
				.barContainer .bar {
					color: red;
				}
			}
		}
	}
}
