.tires {
	position: absolute;
	height: 100px;
	width: 70px;
	top: 940px;
	left: 1750px;
	margin-right: 10px;
	.wheel {
		width: 31px;
		height: 46px;
		float: left;
		margin: 2px;
		position: relative;

		.temp {
			position: absolute;
			bottom: 8%;
			left: 5px;
			margin-bottom: 3px;
			z-index: 11;
			font-size: 15px;
			width: 100%;
		}
		&.rearLeft,
		&.rearRight {
			.temp {
				position: absolute;
				bottom: auto;
				top: 48%;
				margin-top: 3px;
				z-index: 11;
				font-size: 15px;
			}
		}

		&.rearLeft,
		&.frontLeft {
			.gripLevel {
				left: -8px;
			}
		}
		&.rearRight,
		&.frontRight {
			.gripLevel {
				right: -8px;
			}
		}

		&:after {
			position: absolute;
			display: block;
			content: '';
			top: 3px;
			left: 3px;
			right: 3px;
			bottom: 3px;
			border: 1px solid white;
		}
		.tireDirtOverlay {
			position: absolute;
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;
			border: 2px solid red;
		}
		.brake {
			position: absolute;
			width: 7px;
			background: #2962ff;
			top: 10px;
			bottom: 10px;

			&.frontLeft,
			&.rearLeft {
				left: -4px;
			}
			&.frontRight,
			&.rearRight {
				right: -4px;
			}
		}
		.tireWearContainer {
			top: 4px;
			right: 4px;
			left: 4px;
			bottom: 4px;
			position: absolute;
			.tireWear {
				background: #03A9F4;
				border-top: 1px solid white;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}
