.motec {
	border-radius: 2px;
	display: none;
	&.shouldShow {
		display: block;
	}
	position: absolute;
	.speed {
		position: absolute;
		font-size: 16px;
		bottom: -19px;
		position: absolute;
		left: 25px;
		background: #1565C0;
		color: white;
		border-radius: 2px;
		width: 35px;
		text-align: center;
		transform: translate(-50%, 0) skew(-20deg);
	}
	.rpm {
		position: absolute;
		border-radius: 2px;
		bottom: -40px;
		left: 1px;
		right: 3px;
		width: 80px;
		background: white;
		transform: skew(-20deg);
		.rpmLabel {
			color: black;
			position: absolute;
			font-size: 13px;
			line-height: 14px;
			left: 10px;
			transform: skew(20deg);
		}
		.rpmBar {
			border-radius: 2px;
			background: red;
			height: 15px;
		}
	}
	&.rpmOptimum {
		.rpm .rpmBar {
			background: #00E676;
		}
		.gear {
			color: #00E676;
		}
	}
	&.rmpMaxed {
		.rpm .rpmBar {
			background: red;
		}
		.gear {
			color: red;
		}
	}
	.gear {
		font-size: 30px;
		position: absolute;
		background: black;
		border-radius: 2px;
		padding: 5px;
		left: -10px;
		top: 0px;
		transform: translate(-50%, 0) skew(-20deg);
		color: white;
		line-height: 1;
	}
}
