.motec {
	border-radius: 50px;
	display: none;
	&.shouldShow {
		display: block;
	}
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 10px;
	background: black;
	width: 85px;
	height: 80px;
	transform-origin: bottom right;
	border-bottom: 20px solid red;
	.speed {
		position: absolute;
		font-size: 20px;
		bottom: -19px;
		position: absolute;
		left: 50%;
		color: white;
		border-radius: 200px;
		width: 85px;
		text-align: center;
		transform: translate(-50%, 0);
	}
	.rpm {
		position: absolute;
		bottom: -40px;
		left: 1px;
		right: 3px;
		width: 85px;
		background: white;
		.rpmBar {
			background: red;
			height: 15px;
		}
	}
	&.rpmOptimum {
		.rpm .rpmBar {
			background: #00E676;
		}
		.gear {
			color: #00E676;
		}
	}
	&.rmpMaxed {
		.rpm .rpmBar {
			background: red;
		}
		.gear {
			color: red;
		}
	}
	.gear {
		font-size: 55px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		color: white;
		top: 1px;
		line-height: 1;
	}
}
