.motec {
	display: none;
	&.shouldShow {
		display: block;
	}
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 10px;
	background: #263238;
	width: 85px;
	height: 100px;
	transform-origin: bottom right;
	.speed {
		position: absolute;
		font-size: 20px;
		bottom: 10px;
		position: absolute;
		left: 50%;
		color: #FFC107;
		transform: translate(-50%, 0);
	}
	.rpm {
		position: absolute;
		bottom: -15px;
		left: -3px;
		right: 3px;
		width: 85px;
		background: white;
		transform: skew(-25deg);
		.rpmBar {
			background: #EF5350;
			height: 15px;
		}
	}
	&.rpmOptimum {
		.rpm .rpmBar {
			background: #00E676;
		}
		.gear {
			color: #00E676;
		}
	}
	&.rmpMaxed {
		.rpm .rpmBar {
			background: #C62828;
		}
		.gear {
			color: #C62828;
		}
	}
	.gear {

		font-size: 65px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		color: #C62828;
		top: 1px;
		line-height: 1;
	}
}
