.aids {
	position: absolute;
	top: 1030px;
	left: 50%;
	.inner {
		transform: translate(-50%, 0);
		background: black;
		transform: skew(-20deg);
		border-radius: 2px;
	}
	.aid {
		display: inline-block;
		margin-left: 2px;
		margin-right: 2px;
		fill: white;
		transform: skew(+20deg);
		&.state-5 {
			svg {
				fill: red;
			}
		}
	}
	.svgIcon {
		svg {
			height: 13px;
			width: 13px;
		}
	}
}
