.fuel {
	padding: 5px;
	height: 20px;
	position: absolute;
	top: 940px;
	left: 1660px;
	margin-right: 70px;
	width: 200px;
	.barContainer {
		background: red;
		height: 30px;
		width: 100%;
		display: inline-block;
		position: relative;
		transform: skew(-25deg);
		.bar {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			background: #00E676;
			&:after {
				position: relative;
				display: block;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 7.5px solid rgba(255, 255, 255, 0);
			}
		}
	}
	&.hasWheel {
		height: 60px;
		.steeringWheel {
			position: absolute;
			top: 100%;
			left: 3px;
			transform-origin: 19px 19px;
			margin-top: 5px;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 100%;

			svg {
				margin: -4px -4px -5px;
				transform-origin: top left;
				width: 46px;
				fill: rgb(255, 255, 255);
			}
		}
	}
	width: 100px;
	right: 150px;
	padding-bottom: 30px;
	.barContainer {
		top: 10px;
		height: 13px;
	}
	.svgIcon {
		height: 12px;
		width: 12px;
		position: absolute;
		top: 85%;
		left: 50%;
		margin-top: -10px;
		margin-left: 1px;
		transform: translate(-50%, -50%);
		svg {
			fill: white;
		}
	}
	.fuelPerLap,
	.fuelLeft {
		position: absolute;
		font-size: 10px;
		left: -5px;
		right: -5px;
		text-align: center;
		height: 15px;
		line-height: 15px;
		width: 20px;
		transform: skew(-25deg);
	}
	.fuelPerLap {
		background-color: #2196F3;
		top: 15px;
		left: -14px;
	}
	.fuelLeft {
		color: white;
		background-color: black;
		bottom: 5px;
		left: 93px;
	}
}
